accelerate
bitsandbytes==0.41.2.post2
huggingface_hub==0.25.0
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
PyYAML==6.0.1
safetensors==0.4.0
scikit_learn==1.3.2
scipy==1.11.4
torch==2.0.1
torchvision==0.15.2
transformers
wandb==0.16.0
xformers==0.0.22
git+https://github.com/huggingface/datasets.git
diffusers==0.23.1
imageio==2.36.0
seaborn
tabulate
facenet-pytorch